*{
    margin: 0;
    padding: 0;
    font-family: 'Varsity Team', sans-serif;
}


.PlacarContainer{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-image: url("/src/assets/BC.jpg");
   background-size: 100%;
   background-position: 50%;
   
}

.InfoPartida{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4vw;
    width: 15vw;
   
}

.Local{
    display: flex;
    justify-content: center;
    padding: 0.3vw;
    width: 17vw;
    border-radius: 20px;
    background: #e0e0e0;
    font-size: 2.2vw;
    color: #000000;
    font-weight: bold;
    
}

.Competicao{
    font-size: 1.5vw;
    padding: 0.5vw;
    color: #FFFFFF;
    font-weight: bold;
   
}

.periodos{
    display: flex;
    justify-content: center;
    font-size: 1.8vw;
    padding: 0.3vw;
    width: 20vw;
    color: #000000;
    font-weight: bold;
    margin: 09%; 
    border-radius: 5px;
    background: #c7c7c7;
}

p{
    margin-top: 1vh;
    color: #5a5a5a;
}

h2{
    margin-left: 9vw;
    margin-bottom: 2vw;
    color: #202020;
}

.times{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeA{
    position: fixed;
    bottom: 0;
    width: 100%;
   
 

}

.timeB{
    position: fixed;
    bottom: 0;
    width: 74%;

}

.periodo{
    position: fixed;
    bottom: 0;
    width: 48%;

}