*{
    margin: 0;
    padding: 0;
    
    
}
.ContainerTime{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 40vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1vw;
    background: #FFFFFF;
    box-shadow: 0 0 1em #cccccc;
}

.placares{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}





.Placar{
    font-size: 20vw;
    padding: 1vh;
    color: #337a24;
}

.NomeTime {
    font-size: xx-large; 
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 7vh;
    border-radius: 0.1vw;
    background: rgb(2, 36, 2);
    color: #FFFFFF;
  
}
